.filters
    justify-content: space-between
    border: 5px solid black
.categories

.category
    text-transform: uppercase
.bottom
.apply
    font-size: 3em

\:global
    #toggleFilters
        position: fixed
        font-size: 3em

// \:global
//     #toggleFiltersLabel
//         font-size: 3em
//         position: fixed
//     #toggleFilters
//         position: fixed
//         &:checked ~ #filters
//             display: flex